html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    margin: 0;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'Font';
    src: url('./sprites/prstartk.otf');
}

button {
    width: 100%;
    height: 50%;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Font';
    font-size: 150%;
    color: black;
    border: none;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
}

button:hover {
    font-size: 170%;
}

button:active {
    font-size: 175%;
}

input {
    width: 98%;
    height: 50%;
    margin: 0px;
    padding-left: 2%;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: 'Font';
    font-size: 100%;
    color: black;
}

#joinDiv {
    display: none;
    z-index: 10;
    width: 20%;
    height: 15%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
}

#creditsDiv {
    display: none;
    width: 100%;
    z-index: 1;
    padding: 0px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.credits {
    font-family: 'Font';
    font-size: 10pt;
    margin: 8px;
    color: white;
}

a {
    margin: 0px !important;
}