html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    margin: 0;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'Font';
    src: url('./sprites/prstartk.otf');
}

button {
    display: none;
    z-index: 1;
    width: 20%;
    height: 10%;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Font';
    font-size: 150%;
    /* font-size: 20pt; */
    color: black;
    border: none;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
}

button:hover {
    font-size: 170%;
}

button:active {
    font-size: 175%;
}



#creditsDiv {
    display: none;
    width: 100%;
    z-index: 1;
    padding: 0px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.credits {
    font-family: 'Font';
    font-size: 7pt;
    margin: 8px;
    color: white;
}

a {
    margin: 0px !important;
}